.boxSignup {
  background-color: yellow;
  width: 484px;
  height: 727px;
  display: flex;
  flex-direction: column;
  /* justify-self: center; */
  align-items: center;
  border-radius: 32px;
}
.boxSignup .logo {
  width: 34px;
  padding-top: 31px;
}
.boxSignup h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  padding-top: 11px;
}
.boxSignup h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 7px;
}
.boxSignup div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 23px;
}
.boxSignup>div>i{
    position: relative;
    bottom: 33px;
    left: 230px;

}
.boxSignup label,
.boxSignup input,.boxSignup h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.boxSignup input {
  padding: 14px 18px 15px;
  width: 268px;
  height: 48px;
  background: #ffffff;
  border: 2px solid #cdcdcd;
  border-radius: 16px;
  margin-top: 4px;
}
.boxSignup button {
  width: 268px;
  height: 40px;
  border-radius: 20px;
  background: #E60023;
  font-family: 'Roboto';
  margin-top: 10px;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
}
.boxSignup h5{
    padding-top: 8px;
}
.boxSignup .btnLoginWGg{
  background: #FFFFFF !important;
  color: #3C4043 !important;
  margin-bottom: 13px;
  
}
.boxSignup .btnLoginWFb{
    background: #1877F2 !important;
}
.boxSignup>.text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
color: #767676;
}
.boxSignup>.text:last-child{
    margin-top: 13px;
}
.boxSignup span{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 13px;
color: #111111;
}
