.navBar{
    background-color: aqua;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
    
}
.navBar>div:first-child{
    display: flex;
    justify-content:space-between;
    column-gap: 10px;
}
.navBar .logo{
    width: 30px;
}
.navBar .btnHome{
    background-color: black;
    color: white;
    height: 30px;
    width: 90px;
    border-radius: 10px;
}
.navBar .btnCreate{
    background-color: black;
    color: white;
    height: 30px;
    width: 60px;
    border-radius: 10px;
}
.navBar input{
    width: 1000px;
    border-radius: 20px;
    height: 40px;
    padding-left: 20px;
}
